FEE PR (x).json
{"local":{"name":"FEE PR (x)","isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"6ec9e82d-cf4e-41ec-b40b-42580ee16f57","name":"pr.action","value":"={{ $json.body.action }}","type":"string"},{"id":"c6aae4dc-878a-4b0f-a3a4-112280cc6513","name":"pr.html_url","value":"={{ $json.body.pull_request.html_url }}","type":"string"},{"id":"66890ec4-4152-4fda-ad79-0cd8b7619d14","name":"pr.user","value":"={{ $json.body.pull_request.user.login }}","type":"string"},{"id":"39eb3b21-7bce-49ef-85f8-d8e50fdd7900","name":"pr.reviewer","value":"={{ $json.body.requested_reviewer.login }}","type":"string"},{"id":"b7abebe5-7b78-4ba8-8196-c740416ffc49","name":"pr.repo","value":"={{ $json.body.pull_request.head.repo.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[360,-20],"id":"a82bbf4b-d417-4075-8bfc-ddf749d519f1","name":"PR"},{"parameters":{"owner":{"__rl":true,"value":"perfect-corp","mode":"name"},"repository":{"__rl":true,"value":"yco-api-console","mode":"name"},"events":["pull_request"],"options":{"insecureSSL":false}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-200,-40],"id":"12212aa3-2944-4c7b-a219-2dda9d3ffe14","name":"Github PR","webhookId":"a0409b48-2d30-4eb1-baf9-0b44c97d3e14","credentials":{"githubApi":{"id":"vtdpM9zsKcb4ie03","name":"GitHub account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let repo = $json.pr.repo;\n\nconst channels = {\n  \"yco-api-console\": \"#yco-api-console-notify\",\n  \"smb-frontend\": \"#smb-notify\"\n};\n\n\n\nconst channel = channels[repo] || \"#i8n-test\";\n\nreturn {...$json, slack: {channel: channel}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-20],"id":"bc33891c-1832-428c-8389-5d7f18db08d9","name":"channel"},{"parameters":{"httpMethod":"POST","path":"d47af41b-8a42-49a0-afac-0c406f1511a7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,160],"id":"701b5b6b-c7f8-402e-994b-15e13a9d3efd","name":"Github Webhook","webhookId":"d47af41b-8a42-49a0-afac-0c406f1511a7"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $json.slack.channel }}","mode":"name"},"text":"={{ $json.slack.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1200,-40],"id":"fc867872-6e90-4c36-8b5a-3d818c92b244","name":"slack","webhookId":"72c245b9-671a-42fd-a8f1-da9d51ab0280","credentials":{"slackApi":{"id":"uBff2ASKRXOpWPH2","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b54290dd-2aba-4069-978e-dfab4eeb5405","leftValue":"={{ $json.slack.pass }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[980,-20],"id":"d59eb845-6428-43ec-ad83-fec5fae0fa4f","name":"not pass"},{"parameters":{"jsCode":"const slackIds = {\n  \"pft-RaymansPeng\": \"U08H8L7G5KR\",\n  \"pft-ShellyHsueh\": \"U08Q1BJD0MB\",\n  \"pft-VivianneChao\": \"U08PE1CPY1W\",\n  \"pft-IvanWu\": \"U08NA5Y66R5\",\n  \"pft-TinaLiu\": \"U08QYL4JY3C\",\n  \"pft-FreyaLiao\": \"U08RZEV6HK4\",\n  \"pft-TheraChang\": \"U08PDU2A36C\",\n  \"pft-SinjiaSu\": \"U08PEG7GJAC\",\n};\n\nconst reviewer = $json.pr.reviewer;\nconst slackId = slackIds[reviewer] || null;\nconst isAnnotationRequired = $json.pr.action === 'review_requested';\n\nlet text = \"\"\nif (isAnnotationRequired) {\n  text = `:real-rose: PR <@${slackId}> [${$json.pr.action}]: [${$json.pr.user}] ${$json.pr.html_url}`\n} else {\n  text = `:jennie-2: PR [${$json.pr.action}]: [${$json.pr.user}] ${$json.pr.html_url}`\n}\n\n\nreturn {...$json, slack: {...$json.slack, slackId: slackId, pass: isAnnotationRequired && !slackId, text}}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,-20],"id":"5de203fa-3f34-412c-9cd4-bd485c3f27a4","name":"Combine Message"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"83eb4ede-1f45-4a86-a5b4-0f68480fa7d9","leftValue":"={{ $json.headers[\"x-github-event\"] }}","rightValue":"pull_request","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[20,160],"id":"e20bc6fc-0270-49e3-8f18-e0233c9e2c28","name":"is PR"}],"connections":{"PR":{"main":[[{"node":"channel","type":"main","index":0}]]},"Github PR":{"main":[[{"node":"PR","type":"main","index":0}]]},"channel":{"main":[[{"node":"Combine Message","type":"main","index":0}]]},"Github Webhook":{"main":[[{"node":"is PR","type":"main","index":0}]]},"not pass":{"main":[[{"node":"slack","type":"main","index":0}]]},"Combine Message":{"main":[[{"node":"not pass","type":"main","index":0}]]},"is PR":{"main":[[{"node":"PR","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{},"node:Github Trigger1":{},"node:Github PR":{"webhookId":554596386,"webhookEvents":["pull_request"]}},"triggerCount":2,"tags":[]},"status":"new"}