FEE EPF.json
{"local":{"name":"FEE EPF","isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/30 * * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,0],"id":"742717f9-fda8-41a5-a586-51ae5783804e","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://eperfect.perfectcorp.com/if3/tsr/api/public/query/TSR.EbugSearch","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.queries.ebugQuery }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,0],"id":"35de8aa3-28db-42bf-9139-9c4c72cd9c3f","name":"HTTP Request","credentials":{"httpBearerAuth":{"id":"0ZwPsRjBvwWR1DCj","name":"epf"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"={{ $json.messages.channel }}","mode":"name"},"text":"={{ $json.messages.text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1240,0],"id":"6b62a589-fbc3-47b9-b133-4f21e03c8341","name":"Slack","webhookId":"60fff717-0a96-4f7e-a808-5cb01448776a","credentials":{"slackApi":{"id":"uBff2ASKRXOpWPH2","name":"Slack account"}}},{"parameters":{"jsCode":"const gte = \"2025-06-23\";\n\nconst getBaiscRule = (name, extend = []) => {\n  return {\n    name: name,\n    ebugQuery: {\n      queryModel: \"TSR.EbugSearch\",\n      pageSize: 99,\n      pageIndex: 1,\n      isDesc: true,\n      sortBy: \"CreateTime\",\n      conditions: [\n        {\n          field: \"Status\",\n          term: {\n            querys: [\"Assigned\", \"NeedCodeReview\", \"NeedRework\", \"Fail\"].concat(\n              extend,\n            ),\n          },\n        },\n        { field: \"Handler\", term: { query: name } },\n        { field: \"IsValid\", termNot: { query: \"false\" } },\n        { field: \"CreateTime\", range: { gte: gte } },\n      ],\n    },\n  };\n};\n\nconst getResolveRule = (name) => {\n  return {\n    name: `${name}_RESOLVE`,\n    ebugQuery: {\n      queryModel: \"TSR.EbugSearch\",\n      pageSize: 99,\n      pageIndex: 1,\n      isDesc: true,\n      sortBy: \"CreateTime\",\n      conditions: [\n        {\n          field: \"ProductName\",\n          term: {\n            querys: [\n              \"Perfect Console\",\n              \"3D Authoring Tool\",\n              \"SMB Online Service\",\n              \"PF.com\",\n              \"YCO API Console\",\n            ],\n          },\n        },\n        { field: \"Handler\", termNot: { query: name } },\n        { field: \"Status\", term: { querys: [\"RDResolved\", \"BuildResolved\"] } },\n        { field: \"IsValid\", termNot: { query: \"false\" } },\n        { field: \"CreateTime\", range: { gte: gte } },\n      ],\n    },\n  };\n};\n\nconst Rules = [\n  getBaiscRule(\"VIVIANNE_CHAO\"),\n  getBaiscRule(\"IVAN_WU\"),\n  getBaiscRule(\"RAYMANS_PENG\", [\"RDResolved\", \"NewCreated\"]),\n  getResolveRule(\"RAYMANS_PENG\"),\n  getBaiscRule(\"THERA_CHANG\"),\n  getBaiscRule(\"FREYA_LIAO\"),\n  getBaiscRule(\"TINA_LIU\"),\n  getBaiscRule(\"SHELLY_HSUEH\"),\n  getBaiscRule(\"SINJIA_SU\"),\n];\n\nreturn { queries: Rules };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-100,0],"id":"9b4ad96f-60b3-474b-bfbb-a64b5beee2a8","name":"Create Queries"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const slackIds = {\n  RAYMANS_PENG: \"U08H8L7G5KR\",\n  RAYMANS_PENG_RESOLVE: \"U08H8L7G5KR\",\n  SHELLY_HSUEH: \"U08Q1BJD0MB\",\n  VIVIANNE_CHAO: \"U08PE1CPY1W\",\n  IVAN_WU: \"U08NA5Y66R5\",\n  TINA_LIU: \"U08QYL4JY3C\",\n  FREYA_LIAO: \"U08RZEV6HK4\",\n  THERA_CHANG: \"U08PDU2A36C\",\n  SINJIA_SU: \"U08PEG7GJAC\",\n};\n\nconst channels = {\n  // \"Perfect Console\": \"#console-notify\",\n  // \"3D Authoring Tool\": \"#console-notify\",\n  // \"SMB Online Service\": \"#smb-notify\",\n  // \"PF.com\": \"#smb-notify\",\n  // \"YCO API Console\": \"#yco-api-console-notify\",\n  // \"Web:PF Demo Store\": \"#wcm-notify\",\n  // \"Web Consultation\": \"#wcm-notify\",\n};\n\nconst nodeStaticData = $getWorkflowStaticData(\"node\");\nnodeStaticData.notified ??= {};\n\nconst getBugHash = (bugCode, status) => {\n  return `${bugCode}@${status}`;\n};\n\nconst isNotified = (bugCode, status) => {\n  const bugHash = getBugHash(bugCode, status);\n  if (!!nodeStaticData.notified[reviewer]) {\n    return nodeStaticData.notified[reviewer].includes(bugHash);\n  }\n  return false;\n};\n\nconst data = JSON.parse($json.data);\nconst messages = [];\nconst reviewer = $(\"Split Out1\").item.json.queries.name;\nif (!data) {\n  messages.push({\n    channel: \"#i8n-test\",\n    text: `${reviewer} empty data`,\n  });\n  return { messages };\n}\nconst EPF_BUG_URL =\n  \"https://eperfect.perfectcorp.com/Ebug/eBugHandle/HandleMainEbug2.asp?BugCode=\";\n\nconst id = slackIds[reviewer];\nconst newNotify = [];\n\nfor (const ebug of data.results) {\n  newNotify.push(getBugHash(ebug.BugCode, ebug.Status));\n  if (!isNotified(ebug.BugCode, ebug.Status)) {\n    const data = {\n      channel: channels[ebug.ProductName] || \"#i8n-test\",\n      text: `:bp-heart-p: <@${id}> [S${ebug.EbugSeverity}][${ebug.Status}][${ebug.Assignee}]${EPF_BUG_URL}${ebug.BugCode}\\n${ebug.ShortDescription}`,\n      bugCode: ebug.BugCode,\n      handler: ebug.Handler,\n    };\n    messages.push(data);\n  }\n}\nmessages.push({\n  channel: \"#i8n-test\",\n  text: `[${reviewer}]: ${JSON.stringify(newNotify)}`,\n});\nnodeStaticData.notified[reviewer] = newNotify;\nreturn { messages };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[700,0],"id":"b689bc96-442e-41b9-8f71-0a3e7f4c692c","name":"Parse Ebug"},{"parameters":{"fieldToSplitOut":"messages","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1000,0],"id":"f21af965-8c4c-4083-ba95-a2d5add8f7e7","name":"Split Out"},{"parameters":{"fieldToSplitOut":"$json.queries","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[120,0],"id":"91d19f4c-abcc-42de-b171-b4d2ae981fc7","name":"Split Out1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create Queries","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Parse Ebug","type":"main","index":0}]]},"Create Queries":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Parse Ebug":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Parse Ebug":{"notified":{"VIVIANNE_CHAO":[],"IVAN_WU":["DMO250703P0002@Assigned","WCM250627P0001@Assigned"],"RAYMANS_PENG":["COM250703P0003@NewCreated","COM250703P0002@NewCreated","COM250703P0001@NewCreated","PCS250701P0162@Assigned","COM252506P0004@NewCreated","COM252506P0003@Assigned","YAC250630P0002@NewCreated","SOS250630P0002@RDResolved","SOS250624P0009@RDResolved","COM250620P0004@RDResolved","COM250616P0011@Assigned"],"THERA_CHANG":[],"FREYA_LIAO":[],"TINA_LIU":[],"SHELLY_HSUEH":[],"SINJIA_SU":[],"RAYMANS_PENG_RESOLVE":["PCS250701P0155@RDResolved","PCS250626P0001@RDResolved"]}}},"triggerCount":1,"tags":[]},"status":"new"}