get workflow.json
{"local":{"name":"get workflow","isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"17d1c2ca-89e5-498d-a966-0da8d666b49b","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"bd7c1291-2107-4703-9369-abec75b36597","name":"n8n","credentials":{"n8nApi":{"id":"YPGRcUChnGCNrhRb","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6f582938-8a78-4037-92f5-8fae3f6fe00d","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"9f1d16db-bb36-46de-9533-eabe20c18228","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"triggerCount":0,"tags":[]},"status":"new"}