i18n backup.json
{"local":{"name":"i18n backup","isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"816f28da-8a21-4123-9bf4-969286cf7495","name":"When clicking ‘Execute workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[220,0],"id":"9e402591-b58c-4213-a6aa-16566f1e84bb","name":"n8n","credentials":{"n8nApi":{"id":"YPGRcUChnGCNrhRb","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,140],"id":"87c4d916-da97-4254-8f84-6293c8fc06e4","name":"Loop Over Items"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst { id, createdAt, updatedAt, versionId, active, pinData, meta, ...rest } = $json;\n\nreturn {local: rest};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"1bbb61de-2609-4b2e-8979-0bb7fe1b0902","name":"Code"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"tyler-and-ivan","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflow","mode":"list","cachedResultName":"n8n-workflow","cachedResultUrl":"https://github.com/tyler-and-ivan/n8n-workflow"},"filePath":"={{ $json.local.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=chore: add  {{ $json.local.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2080,260],"id":"8222b2f1-6df2-4610-9aea-bbec076ebd1f","name":"GitHub","webhookId":"d40e1743-e262-4973-8b59-e8790bd7807a","credentials":{"githubApi":{"id":"J9LUWfUfrJZjYYrU","name":"ivan"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"tyler-and-ivan","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflow","mode":"list","cachedResultName":"n8n-workflow","cachedResultUrl":"https://github.com/tyler-and-ivan/n8n-workflow"},"filePath":"={{ $json.local.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[840,-160],"id":"8eb0777c-f7de-4876-a8c3-36939ff8beae","name":"GitHub1","webhookId":"3bd4d179-694b-4909-b8d3-1344432a1f51","credentials":{"githubApi":{"id":"J9LUWfUfrJZjYYrU","name":"ivan"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,-180],"id":"da0f192b-4008-4d73-accb-7781da496d25","name":"HTTP Request"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1240,0],"id":"2a99cf16-fa2a-4052-a01a-4efd2d5837cc","name":"Merge"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const cloud = $json.data;\nconst local = $json.local;\nconsole.log(\"#cloud\", cloud);\nconsole.log(\"#local\", local);\n\nconst status = !cloud ? 'new' : cloud === JSON.stringify(local) ? 'same' : 'modified'\n\nreturn {cloud: cloud, local: local, status: status};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,0],"id":"1ef53e8c-5139-4ec7-91ac-9fdefd017ebc","name":"Code1"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"tyler-and-ivan","mode":"name"},"repository":{"__rl":true,"value":"n8n-workflow","mode":"list","cachedResultName":"n8n-workflow","cachedResultUrl":"https://github.com/tyler-and-ivan/n8n-workflow"},"filePath":"={{ $json.local.name }}.json","fileContent":"={{ JSON.stringify($json.local) }}","commitMessage":"=chore: update {{ $json.local.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2060,20],"id":"06e3181b-8f95-4c8f-b421-e8036dd90b30","name":"GitHub2","webhookId":"a77261e9-c574-461a-b25c-c680090de701","credentials":{"githubApi":{"id":"J9LUWfUfrJZjYYrU","name":"ivan"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"new","operator":{"type":"string","operation":"equals"},"id":"39ef4cbb-b0f1-47ef-8703-c4ddef7687f0"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46c105ee-1dfa-4ca3-a8fc-b4e31b2e73ea","leftValue":"={{ $json.status }}","rightValue":"modified","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0465cb14-f870-484c-ba40-5c22c1e57aa8","leftValue":"={{ $json.status }}","rightValue":"same","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1640,60],"id":"0d86ed1c-d4af-437d-9b9a-2c28b2874153","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"da19bec9-242a-4a4d-b2f1-a1b130130e43","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1000,-160],"id":"5262a3c6-bc13-4e22-b289-a67f3147dc3f","name":"If"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Code","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GitHub1":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"GitHub","type":"main","index":0}],[{"node":"GitHub2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"GitHub2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}],[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"triggerCount":0,"tags":[]},"status":"new"}