import.json
{"local":{"name":"import","isArchived":false,"nodes":[{"parameters":{"owner":{"__rl":true,"value":"tyler-and-ivan","mode":"name"},"repository":{"__rl":true,"value":"n8n-test","mode":"name"},"events":["pull_request"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[0,0],"id":"35866619-dbc5-48b2-bc48-4faf03f49e58","name":"Github Trigger","webhookId":"b0d4591c-fa69-40ff-acf3-a0de44b55456","credentials":{"githubApi":{"id":"J9LUWfUfrJZjYYrU","name":"ivan"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#i8n-test","mode":"name"},"text":"=[i8n] PR [{{ $json.body.action }}]: [{{ $json.body.pull_request.user.login }}] {{ $json.body.pull_request.html_url }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[440,0],"id":"b542ccbb-33ae-4518-8410-9eca3a8e5f77","name":"Slack","webhookId":"72c245b9-671a-42fd-a8f1-da9d51ab0280","credentials":{"slackApi":{"id":"uBff2ASKRXOpWPH2","name":"Slack account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ec9e82d-cf4e-41ec-b40b-42580ee16f57","name":"body.action","value":"={{ $json.body.action }}","type":"string"},{"id":"c6aae4dc-878a-4b0f-a3a4-112280cc6513","name":"body.pull_request.html_url","value":"={{ $json.body.pull_request.html_url }}","type":"string"},{"id":"66890ec4-4152-4fda-ad79-0cd8b7619d14","name":"body.pull_request.user.login","value":"={{ $json.body.pull_request.user.login }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"4ed50fa7-2143-464a-affd-375feed1df3e","name":"Edit Fields"}],"connections":{"Github Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"triggerCount":0,"tags":[]},"status":"new"}