n8n-test.json
{"local":{"name":"n8n-test","isArchived":false,"nodes":[{"parameters":{"owner":{"__rl":true,"value":"tyler-and-ivan","mode":"name"},"repository":{"__rl":true,"value":"n8n-test","mode":"name"},"events":["pull_request"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-180,0],"id":"fcb42e90-ee68-4d4a-ab9e-fedc5d04ae20","name":"Github Trigger","webhookId":"b0d4591c-fa69-40ff-acf3-a0de44b55456","credentials":{"githubApi":{"id":"J9LUWfUfrJZjYYrU","name":"ivan"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#i8n-test","mode":"name"},"text":"=[i8n] PR <@{{ $json.stackId }}> [{{ $('PR').item.json.body.action }}]: [{{ $('PR').item.json.body.pull_request.user.login }}] {{ $('PR').item.json.body.pull_request.html_url }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[680,-20],"id":"2d300f52-69fd-4878-ad70-4a56586f7878","name":"Slack","webhookId":"72c245b9-671a-42fd-a8f1-da9d51ab0280","credentials":{"slackApi":{"id":"uBff2ASKRXOpWPH2","name":"Slack account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ec9e82d-cf4e-41ec-b40b-42580ee16f57","name":"body.action","value":"={{ $json.body.action }}","type":"string"},{"id":"c6aae4dc-878a-4b0f-a3a4-112280cc6513","name":"body.pull_request.html_url","value":"={{ $json.body.pull_request.html_url }}","type":"string"},{"id":"66890ec4-4152-4fda-ad79-0cd8b7619d14","name":"body.pull_request.user.login","value":"={{ $json.body.pull_request.user.login }}","type":"string"},{"id":"39eb3b21-7bce-49ef-85f8-d8e50fdd7900","name":"body.requested_reviewer.login","value":"={{ $json.body.requested_reviewer.login }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,0],"id":"e81c1937-bef5-47d7-a5ed-d631b4194dc3","name":"PR"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43d521e9-f55b-4bbe-8fbe-71c7143b50db","leftValue":"={{ $json.stackId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"c82ca620-9cae-4c8f-8ec6-9c9c6d25bf03","name":"If"},{"parameters":{"jsCode":"const slackIds = {\n  \"pft-RaymansPeng\": \"@U08H8L7G5KR\",\n  \"pft-ShellyHsueh\": \"@U08Q1BJD0MB\",\n  \"pft-VivianneChao\": \"U08PE1CPY1W\",\n  \"pft-IvanWu\": \"@U08NA5Y66R5\",\n  \"pft-TinaLiu\": \"@U08QYL4JY3C\",\n  \"pft-FreyaLiao\": \"@U08RZEV6HK4\",\n  \"pft-TheraChang\": \"@U08PDU2A36C\",\n  \"pft-SinjiaSu\": \"@U08PEG7GJAC\",\n};\n\nconst reviewer = $input.first().json.body.requested_reviewer.login;\nconst slackUser = slackIds[reviewer] || null;\n\nreturn {stackId: slackUser}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"662fd26b-5abc-4765-8dc1-465e25062d66","name":"getSlackId"}],"connections":{"Github Trigger":{"main":[[{"node":"PR","type":"main","index":0}]]},"PR":{"main":[[{"node":"getSlackId","type":"main","index":0}]]},"If":{"main":[[{"node":"Slack","type":"main","index":0}]]},"getSlackId":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Github Trigger":{"webhookId":553153734,"webhookEvents":["pull_request"]}},"triggerCount":1,"tags":[]},"status":"new"}