Test Send Message.json
{"local":{"name":"Test Send Message","isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"10c20485-fceb-4f27-aa3b-8b6008f66ed1","name":"When clicking ‘Execute workflow’"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#i8n-test","mode":"name"},"text":"[i8n] this is test message","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[520,0],"id":"a206e0f1-d814-447a-9adc-ca4636299a7d","name":"Slack","webhookId":"6ba79b04-373d-4e93-9d27-477ca6404444","credentials":{"slackApi":{"id":"uBff2ASKRXOpWPH2","name":"Slack account"}}},{"parameters":{"jsCode":"console.log(Date.now())\n\nreturn $json"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"1a37c0b4-a0a9-4036-a14d-0d9e1e3e0605","name":"Code"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"triggerCount":0,"tags":[]},"status":"new"}